#heart-pattern {
  background: url(../assets/heartBg.svg);
  background-repeat: repeat;
  background-size: auto;
  position: fixed;       
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: pan 50s infinite linear;
  z-index: -1;            
}

@keyframes pan {
    from {
        background-position:0% ;
    }
    to {
        background-position:100% ;
    }
}

body {
  font-family: "Georgia", serif;
  background: linear-gradient(120deg, #cfa78a, #e5998b, #e88fa0);
}